@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/static/WorkSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/static/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/static/WorkSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@media only screen and (min-width: 701px) {
  img.background-image {
    content: url("../assets/images/background-pattern-desktop.svg");
  }
  section.faq-container {
    padding: 2rem 2.2rem;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
  }
}
@media only screen and (max-width: 700px) {
  /*body {*/
  /*  background-image: url("../assets/images/background-pattern-mobile.svg");*/
  /*}*/
  img.background-image {
    content: url("../assets/images/background-pattern-mobile.svg");
  }
  section.faq-container {
    margin-left: 1%;
    margin-right: 1%;
    padding: 2.5svw;
  }
}
* {
  margin: 0; /* Resetting default margin & padding on all elements */
  padding: 0;
  box-sizing: border-box;
}
body {
  color: hsl(292, 42%, 14%);
  text-align: left;
  font-family: "Work Sans", sans-serif;
}
img.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1; /* Place the image behind other content */
}
article.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;
  justify-content: center;
  min-height: 92svh;
}
section.faq-container {
  max-width: 607px;
  min-width: 230px;


  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  box-shadow: hsla(277, 84%, 10%, 0.13) 0 6px 50px -13px;
}
section > header.main-header {
  display: flex;
  padding-bottom: 1.5rem;
}
section > header.main-header img {
  max-width: 2.16rem;
  margin: 0 1.05rem 0 0.25rem;
}
section > header.main-header h1 {
  font-size: 3rem;
  font-weight: 700;
}
section.faq-section > header {
  cursor: pointer;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
section.faq-section > header:hover {
  filter: brightness(118%) drop-shadow(0 0 0.25rem hsla(304, 100%, 94%, 0.4));
  color: hsl(285, 75%, 52%);
}
section.faq-section > header:focus {
  color: hsl(285, 91%, 61%);
  outline: none;
}
section.faq-section > header h2 {
  padding-top: 0.15rem;

  font-size: 1.09rem;
  font-weight: 600;
  line-height: 1.2;
}

section.faq-section > header img.toggle_answer {
  max-width: 1.5rem;
  margin-left: 0.37rem;
}

section.faq-section p.answer {
  padding-top: 0;
  padding-bottom: 0;

  height: 0;
  overflow: hidden;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: hsla(0, 0%, 100%, 0);
}

section.faq-section p.answer.visible {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  height: auto;
  transition: all 0.5s ease-in-out;

  color: hsl(292, 16%, 49%);
}

hr.separator {
  background-color: hsl(300, 25%, 94%);
  border: none;
  height: 1px;
  margin: 0.7rem 0;
  width: 100%;
}
.attribution { 
  font-size: 0.76rem;
  mix-blend-mode: plus-lighter;
  text-align: center; 

  padding: 0.5rem 0 0.8rem;
}
.attribution a { 
  color: hsl(286, 80%, 50%);
}
.attribution a:focus {
  filter: brightness(120%) drop-shadow(0 0 0.24rem hsl(301, 93%, 88%));
  outline: none;
  font-weight: bolder;
}
